<p>login works!</p>
<div class="container" style="padding-left: 20%; margin-top: 5%;">
    <div class="card m-3" style="width: 600px; height: 360px;">
        <h3 class="card-header">User Details</h3>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group col-5">
                    <label>customerId</label>
                    <div class="input-group-prepend">
                        <input type="text" formControlName="customerId" placeholder="customer Id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.customerId.errors }" />
                        <div *ngIf="submitted && f.customerId.errors" class="invalid-feedback">
                            <div *ngIf="f.customerId.errors.required">customer Id is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Password:</label>
                    <input type="password" formControlName="password" placeholder="Password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Remember me
                        </label>
                    </div>
                </div>

                <div>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary mr-1">Login</button> &nbsp;
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary"
                        type="reset" (click)="onReset()">Cancel</button>
                        
                </div>
            </form>

        </div>
    </div>
</div>
