<p>transaction works!</p>
<div class="container" style="padding-left: 20%; margin-top: 5%;">
  <div class="card m-3" style="width: 600px; height: 360px;">
  
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a routerLink="account-summary" class="navbar-brand" href="account-summary">Accountsummary</a>&nbsp;
        </div>
      
      </div>
    </nav>
    
    <h3 class="card-header">Fund Transfer</h3>

      <div class="card-body">
  FromAccount <input [(ngModel)]="fromAccountNumber" type="text" class="form-control" name="fromAccountNumber"
    placeholder="Enter fromAccountNumber" fromAccountNumber required>
  ToAccount<input [(ngModel)]="toAccountNumber" type="text" class="form-control" name="toAccountNumber"
    placeholder="Enter toAccountNumber" toAccountNumber required>
  Ammount
  <input [(ngModel)]="ammount" type="number" class="form-control" name="ammount" placeholder="Enter Ammount" ammount
    required>
  <button class="btn btn-md btn-primary btn-style"
    (click)="transaction(fromAccountNumber,toAccountNumber,ammount)">transact</button>


  </div>
</div>
</div>