<p>create-account works!</p>

    <div class="container" style="padding-left: 20%; margin-top: 5%;">
        <div class="card m-3" style="width: 600px; height: 360px;">
        
          <nav class="navbar">
            <div class="navbar-header">
                <a routerLink="search" class="navbar-brand" href="search">search</a>  
            </div>
</nav>
            
    <h4>Registration</h4>
    <div class="card-body">
    <form #f="ngForm">

    
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" name="id" placeholder="enter your id" class="form-control"
                [(ngModel)]="account.id" #id="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" required>
            <div *ngIf="f.submitted && id.invalid" class="invalid-feedback">
                <div *ngIf="id.errors.required">id is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="userId">userId</label>
            <input type="text" name="userId" placeholder="enter your userId" class="form-control"
                [(ngModel)]="account.userId" #userId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && userId.invalid }" required>
            <div *ngIf="f.submitted && userId.invalid" class="invalid-feedback">
                <div *ngIf="userId.errors.required">id is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="accountHolderName">accountHolderName</label>
            <input type="text" name="accountHolderName" placeholder="enter your accountHolderName" class="form-control"
                [(ngModel)]="account.accountHolderName" #accountHolderName="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && accountHolderName.invalid }" required>
            <div *ngIf="f.submitted && accountHolderName.invalid" class="invalid-feedback">
                <div *ngIf="accountHolderName.errors.required">accountHolderName is required</div>

            </div>
        </div>
        <div class="form-group ">
            <label for="branchname">branchname</label>
            <select name="branchname" class="form-control" [(ngModel)]="account.branchname" #branchname="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && branchname.invalid }" required>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Karimnagar">Karimnagar</option>
                <option value="Adilabad">Adilabad</option>
                <option value="Kandukur">Kandukur</option>
                <option value="Ongole">Ongole</option>
            </select>
            <div *ngIf="f.submitted && branchname.invalid" class="invalid-feedback">
                <div *ngIf="branchname.errors.required">branchname is required</div>

            </div>

        </div>
        <div class="form-group">
            <label for="balance">balance</label>
            <input type="text" name="balance" placeholder="enter your balance" class="form-control"
                [(ngModel)]="account.balance" #balance="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && balance.invalid }" required>
            <div *ngIf="f.submitted && balance.invalid" class="invalid-feedback">
                <div *ngIf="balance.errors.required">ibalance is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="accountNumber">accountNumber</label>
            <input type="text" name="accountNumber" placeholder="enter your accountNumber" class="form-control"
                [(ngModel)]="account.accountNumber" #accountNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && accountNumber.invalid }" required>
            <div *ngIf="f.submitted && accountNumber.invalid" class="invalid-feedback">
                <div *ngIf="accountNumber.errors.required">accountNumber is required</div>

            </div>
        </div>
        <div>
            <button class="btn btn-primary mr-1" (click)="onSubmit(f)">Register</button>
           
        </div>
    </form>

</div>
</div>
</div>
<div>
    <table class="table table-striped" *ngFor="let user of users">
        <thead>
          <tr>
      
            <th>customerId</th>
            <th>customerName</th>
            
      
          </tr>
        </thead>
        <tbody >
          <tr>
      
            <td>{{user.customerId}}</td>
            <td>{{user.customerName}}</td>
      
          </tr>
      
        </tbody>
      </table>
      
      
</div>

