<nav>
<input type="text" [(ngModel)]='accountNumber'>

<button class="btn btn-md btn-primary btn-style" (click)="Search(accountNumber)">Search</button>
</nav>
{{account}}
<table class="table table-striped">
  
  <thead>
    <tr>
        
      <th>AccountNumber</th>
      
    </tr>
  </thead>
  <tbody *ngFor="let account of accounts">
    <tr>
     
      <td>{{account.accountNumber}}</td>
      
    </tr>
  
  </tbody>
</table>


