<p>account-summary works!</p>
<div>
    <label for="">filter</label>
    <select class="custom-select-sm" [(ngModel)]="selectedItem" (change)="selected()">
        <option value={{item}} *ngFor="let item of items; index as i;"> {{item}}</option>

    </select>

    <div [ngSwitch]="selectedItem">
        <div *ngSwitchCase="'customerId'">
            <label for="">Enter text</label>
            <input type="text" [(ngModel)]='customerId'>

            <button class="btn btn-md btn-primary btn-style" (click)="getAccoumtSummary(customerId)">Account
                Summary</button>
        </div>
    </div>



    <div [ngSwitch]="selectedItem">
        <div *ngSwitchCase="'date'">
            <label for="">start Date</label>
            <input type="date" [(ngModel)]='startDate'>
            {{startDate}}

            <label for="">End Date</label>
            <input type="date" [(ngModel)]='endDate'>

            {{endDate}}

            <button class="btn btn-md btn-primary btn-style" (click)="getBydate(startDate,endDate)">Account
                Summary</button>
        </div>
    </div>
</div>
<div>
<table class="table table-striped" *ngIf="trasactions">
    <thead>
        <tr>

            <th>Transactionid</th>
            <th>customerId</th>
            <th>ammount</th>
            <th>date</th>
            <th>balance</th>

        </tr>
    </thead>
    <tbody *ngFor="let t of trasactions; let i = index">
        <tr>

            <td>{{t.tId}}</td>
            <td>{{t.customerId}}</td>
            <td>{{t.ammount}}</td>
            <td>{{t.date}}</td>
            <td>{{t.balance}}</td>

        </tr>

    </tbody>
</table>
</div>